name: ⚡️ Update Recent GitHub Activity

on:
  schedule:
    - cron: '0 * * * *'  # Runs every hour
  workflow_dispatch:

jobs:
  update-activity:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Update README with recent GitHub activity
        uses: Readme-Workflows/recent-activity@v2.5.0
        with:
          GH_USERNAME: 4troDev
          COMMIT_MSG: '⚡️ Update recent GitHub activity'
          MAX_LINES: 5
